.footer h1 {
  margin-bottom: 2rem;
}

.footer button {
  display: inline;
  width: 5rem;
}

.footer-container {
  margin-top: -6rem;
}

div.footer-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.footer-container ul li {
  --c: red;
  cursor: pointer;
  color: var(--c);
  font-size: 16px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: 0.5s;
  margin: 1em;
}

div.footer-container ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: 0;
}

/* Align Items Hortzontally ul li */
div.footer-container {
  display: flex;
  flex-direction: row;
}

div.footer-container ul li:hover {
  color: black;
}

div.footer-container ul li:hover span {
  transform: translateY(0) scale(2);
}

div.footer-container ul li span:nth-child(1) {
  --n: 1;
}

div.footer-container ul li span:nth-child(2) {
  --n: 2;
}

div.footer-container ul li span:nth-child(3) {
  --n: 3;
}

div.footer-container ul li span:nth-child(4) {
  --n: 4;
}

.footer-link {
  text-decoration: none;
}

/* PASTING CODE */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.footer-email-show {
  display: block;
}

.footer-email-hidden {
  display: none; /* Hidden by default */
}

.modal-email-p {
  color: black;
  padding-right: 1rem;
  font-size: 3rem;
}

.footer-modal-content-btn {
}

.modal-content-email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 50%;
  border-radius: 4%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* END OF PASTING CODE */

/* Pasting 3d Button Code */
/* 


.main {
  width: 100%;
}

.button-one {
  color: #fff;
  text-align: center;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  margin: 0 0 0 100px;
}

/*Button One*/
.button-one {
  color: white;
  padding: 10px 10px;
  outline: none;
  background-color: #d90d32;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #95a5a6;
  margin: 0;
  cursor: pointer;
}

.button-one:hover {
  background-color: #d90d32;
}

.button-one:active {
  background-color: #d90d32;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 420px) {
  /* Styles */
  .modal-email-p {
    font-size: 2rem;
  }

  .button-one {
    font-size: 0.9rem;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
