/* 
Color Scheme
#590B11
#A60321
#D90D32
#7EC8D9
#0396A6 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5;
  background-color: #0396a6;
  color: #fee4e8;
}

body {
  width: 100%;
}

.first_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fee4e8;
  padding-top: 10%;
  margin-top: 10%;
  margin-left: 24%;
  padding-bottom: 24%;
}

.animatorIcon_container {
  position: absolute;
  left: 50%;
  top: 85%;
}

.second_section {
  background-color: #000000;
  height: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.third_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 29rem;
  padding-bottom: 15rem;
}

.footer {
  background-color: black;
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 420px) {
  /* Styles */
  html {
    /* background-color: greenyellow; */
    font-size: 66%;
  }

  .animatorIcon_container {
    top: 95%;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
  .first_section {
    margin-left: 15%;
  }

  .footer {
    margin-top: -6px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .animatorIcon_container {
    left: 50%;
    top: 92%;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
