/* 
Color Scheme
#590B11
#A60321
#D90D32
#7EC8D9
#0396A6 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5;
  background-color: #0396a6;
  color: #fee4e8;
}

body {
  width: 100%;
}

.first_section {
  /* position: absolute;
  top: 16rem;
  left: 33rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fee4e8;
  padding-top: 10%;
  margin-top: 10%;
  /* margin-left: 23rem; */
  margin-left: 24%;
  padding-bottom: 24%;
}

.welcome_heading {
  margin-bottom: 2rem;
  font-size: 6rem;
}

.welcome_heading_name {
  color: #ff002f;
}

.welcome_p_container {
  width: 56rem;
  font-size: 2rem;
}

.scroll_animator {
  color: white;
  position: absolute;
  left: 50%;
  top: 90%;
}

div.x {
  /* display: flex; */
  /* flex-direction: column; */
}

.second_section {
  background-color: #000000;
  /* position: relative;
  top: 100vh; */
  height: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.second_section_heading {
  color: #f2f2f2;
  margin-top: 3rem;
  text-transform: capitalize;
}

.third_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 15rem;
}

.third_section h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.third_section_container {
  display: flex;
  flex-direction: column;
}

img.third_section_img {
  align-self: center;
}

.third_section h2,
.third_section p {
  max-width: 600px;
}

.third_section a {
  color: #ff002f;
}

.footer {
  background-color: #1f261f;
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer h1 {
  margin-bottom: 2remgg;
}

.footer button {
  display: inline;
  width: 5rem;
}

.social-list {
  display: flex;
  flex-direction: row;
}

.social-list button:before,
.social-list button:after {
  --z: 0px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  mix-blend-mode: inherit;
  border-radius: inherit;
  transform-style: preserve-3d;
  transform: translate3d(
    calc(var(--z) * 0px),
    calc(var(--z) * 0px),
    calc(var(--z) * 0px)
  );
}

.social-list button span {
  mix-blend-mode: none;
  display: block;
}
.social-list button:after {
  background-color: #5d00ff;
}

.social-list button:before {
  background-color: #ff1731;
}

.social-list button:hover {
  background-color: #fff65b;
  transition: background 0.3s 0.1s;
}

.social-list button:hover:before {
  --z: 0.04;
  /* animation: translateWobble 2.2s ease forwards; */
}

.social-list button:hover:after {
  --z: -0.06;
  animation: translateWobble 2.2s ease forwards;
}

.social-list button {
  display: block;
  position: relative;
  margin: 0.5em 0;
  padding: 0.8em 2.2em;
  cursor: pointer;

  background: #ffffff;
  border: none;
  border-radius: 0.4em;

  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.04em;

  mix-blend-mode: color-dodge;
  perspective: 500px;
  transform-style: preserve-3d;

  margin-left: 2rem;
  margin-right: 2rem;
  width: 13rem;
  height: 100px;
}

@keyframes rotateAngle {
  0% {
    transform: rotateY(0deg) rotateX(10deg);
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  25% {
    transform: rotateY(20deg) rotateX(10deg);
  }
  50% {
    transform: rotateY(0deg) rotateX(10deg);
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  75% {
    transform: rotateY(-20deg) rotateX(10deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(10deg);
  }
}

@keyframes translateWobble {
  0% {
    opacity: 0;
    transform: translate3d(
      calc(var(--z) * 0px),
      calc(var(--z) * 0px),
      calc(var(--z) * 0px)
    );
  }
  16% {
    transform: translate3d(
      calc(var(--z) * 160px),
      calc(var(--z) * 160px),
      calc(var(--z) * 160px)
    );
  }
  28% {
    opacity: 1;
    transform: translate3d(
      calc(var(--z) * 70px),
      calc(var(--z) * 70px),
      calc(var(--z) * 70px)
    );
  }
  44% {
    transform: translate3d(
      calc(var(--z) * 130px),
      calc(var(--z) * 130px),
      calc(var(--z) * 130px)
    );
  }
  59% {
    transform: translate3d(
      calc(var(--z) * 85px),
      calc(var(--z) * 85px),
      calc(var(--z) * 85px)
    );
  }
  73% {
    transform: translate3d(
      calc(var(--z) * 110px),
      calc(var(--z) * 110px),
      calc(var(--z) * 110px)
    );
  }
  88% {
    opacity: 1;
    transform: translate3d(
      calc(var(--z) * 90px),
      calc(var(--z) * 90px),
      calc(var(--z) * 90px)
    );
  }
  100% {
    opacity: 1;
    transform: translate3d(
      calc(var(--z) * 100px),
      calc(var(--z) * 100px),
      calc(var(--z) * 100px)
    );
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 380px) {
  /* Styles */
  body {
    width: 60.688rem;
  }

  .first_section {
    margin-left: 16%;
  }

  .welcome_p_container {
    width: 42rem;
  }

  .scroll_animator {
    left: 100%;
    top: 100%;
    width: 156px;
  }

  .third_section_container {
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
  }

  .third_section_container img {
    margin: 0 auto;
    width: 19rem;
  }

  .third_section_container p {
    font-size: 1.5rem;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Start of timeline paste */

.nz_timeline_container {
  margin-top: 5rem;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #1a96a6;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .nz_tags {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .nz_tags {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: aqua;
  }
}
/* End of Paste */

/* Paste icon scroll */

/* IGNORE EVERYTHING BELOW */

/* End Paste */

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 30px;
  height: 50px;
  margin-left: -20px;
  bottom: 10px;
  margin-top: -35px;
  border: 2px solid #fff;
  border-radius: 25px;
}
@media (max-width: 767px) {
  .icon-scroll {
    position: relative;
  }
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(26px);
  }
}

/* IGNORE EVERYTHING BELOW */
